# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug / OS
*.log
npm-debug.*
yarn-debug.*
yarn-error.*
.DS_Store
*.pem

# local env
.env*.local
